<%= render('shared/header_mobile' , title: "MÉDICAL") %>

<div class="container" data-aos="fade-up">

  <div class="icone-page">
    <%= image_tag 'medical.svg' %>
  </div>

  <div class="row" style="margin: 5px;">
   <p>Tu peux prendre rendez-vous physiquement ou en visio.</p>
   <p>Le constat d'un médecin est aujourd'hui la seule preuve officielle lors d'une agression</p>
   <p>En cas de viols, apelle un médecin pour qu'il puisse faire des prélèvements, avant de te laver.</p>
   <p>Choisis ce que tu souhaites, soit un rendez-vous avec un médecin généraliste soit avec un psychologue spécialisé dans les traumatismes suite aux violences.</p>

 </div>
 <div class="cont-btn-med">
  <button type="button" class="btn btn_liv"><a href="https://www.doctolib.fr/medecin-generaliste/" target="_blank" style="color:white">Médecins de jour<a></button>
    <button type="button" class="btn btn_liv"><a href="https://www.allo-medecin-garde.fr/" target="_blank" style="color:white">Médecins de nuit</a></button>
    <button type="button" class="btn btn_liv"><a href="https://www.doctolib.fr/psychologue/" target="_blank" style="color:white">Psychologues</a></button>
    <button type="button" class="btn btn_liv"><a href="https://www.doctolib.fr/psychiatre/" target="_blank" style="color:white">Psychiatres</a></button>
  </div>
</div>

