<%= render('shared/header_mobile' , title: "MÉDICAL") %>

<div class="container">

  <div class="icone-page">
    <%= image_tag 'medical.svg' %>
  </div>

  <div class="row" style="margin: 5px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>

  </div>

  <button type="button" class="btn btn_liv"><a href="https://www.doctolib.fr/medecin-generaliste/lyon" target="_blank">Voir un médecin généraliste<a></button>
  <button type="button" class="btn btn_liv"><a href="https://www.doctolib.fr/psychologue/lyon" target="_blank">Voir un psychologue spécialisé</a></button>

</div>

