<div class="container">

  <div class="icone-page" data-aos="fade-up">
    <%= image_tag 'informations.svg' %>
  </div>

  <div class="container-info"  data-aos="fade-up" style="margin-top: -50px">
    <div class="diy-slideshow">

      <figure class="show">
        <div class="cont-card">
          <div class="wrapper">
            <div class="thumb">
              <div class="image_card">
                <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583495474/histoire-1_higee6.jpg" alt="liv">
              </div>
              <div class="story-container">
                <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold">
                  Elle se maquilla, comme chaque matin.
                </p>
                <div id="more" class="">
                  <p class="p" style="font-size: 18px; text-align: center"> Mais aujourd'hui le fond de teint<br>ne suffirait pas à cacher.</p>
                  <div class="img-center" style="display: flex; justify-content: center;">
                    <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583497302/histoire-1bis_jpb72x.jpg" alt="liv" class="img-web" style="border-radius: 30px; width:200px; height: 214px;"><br>
                  </div>
                  <p class="p-max credits">
                    <strong>La violence</strong> au sein du couple se manifeste à travers <strong>plusieurs phases bien distinctes</strong> qui permettent à l’auteur des violences de maintenir une emprise sur sa conjointe. Ces phases forment un cycle qui se répète continuellement, que les professionnel-le-s nomment<strong> “le cycle de la violence”.</strong> Le couple entre alors dans une spirale dont les cycles sont de plus en plus rapprochés.
                    <br>
                    <br>
                    La tension monte →
                    La violence explose →
                    L’auteur se justifie → Sa partenaire porte la responsabilité →
                    L’auteur promet de ne plus recommencer → Sa partenaire reprend espoir →
                    L’accalmie ne dure pas et très vite la tension s’installe à nouveau → La tension monte etc.
                    <br>
                    <br>
                    Cet enchaînement de plus en plus rapide des cycles crée de la<strong> confusion</strong> dans l’esprit de la victime des violences. La peur, l’attente, la sidération, l’espoir, l’amour, finissent par se confondre pour créer une situation d’<strong>emprise psychologique.</strong>
                    <br>
                    <br>
                    Plus le temps avance et plus les cycles s’enchaînent, plus la phase “lune de miel” a tendance à disparaître. Les épisodes de violence deviennent<strong> quotidiens et ordinaires.</strong><br><br> <strong>( artwork by <a href="https://www.instagram.com/gomargu/?igshid=ar4bbyv2vyvw" target="_blank">gomargu</a>)</strong><br><br>
                  </p>
                </div>
                <a  class="read_more btn btn-primary" style="box-shadow: none; display: flex; justify-content: center; ">Lire l'histoire</a>
              </div>
            </div>
          </div>
        </div>
      </figure>

      <!-- #Histoire 2 -->

      <figure>
        <div class="wrapper">
          <div class="thumb">
            <div class="image_card">
              <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583497849/histoire-2_mka3su.jpg" alt="liv">
            </div>
            <div class="story-container">
              <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold;">
                Elle était tombée amoureuse de lui pour son regard.
              </p>
              <div id="more" class="">
                <p class="p" style="font-size: 18px; text-align: center; font-weight: bold"> Ce même regard qui, aujourd'hui, <br>lui glaçait le sang.<br><br></p>
                <div class="img-center" style="display: flex; justify-content: center;">
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583498098/histoire-2bis_xc10gr.jpg" alt="liv" class="img-web" style="border-radius: 30px; width:200px; height: 214px"><br>
                </div>
                <p class="p-max credits">
                  Les histoires de violences contre les femmes sont toutes différentes. Mais, dans presque toutes, on
                  trouve des points communs, que l'on peut observer dans le comportement de la personne qui
                  humilie, agresse, violente.
                  <br><br>
                  <strong>L’isolement.</strong> La victime va peu à peu couper des liens (ami.e.s, famille...).
                  «Tu vois plus tes copines que moi, tu m’aimes moins ? »
                  La victime peu à peu se retrouve seule. Et donc<strong> moins capable de se défendre</strong>.
                  <br><br>
                  <strong>La dévalorisation.</strong>
                  Des mots, des phrases humiliantes, qui<strong> rabaissent la personne.</strong>
                  Une de vos copines se dévalorise systématiquement ?<strong> Demandez-vous pourquoi.</strong>
                  <br><br>
                  <strong>L’inversion de la culpabilité.</strong>
                  L’agresseur va toujours trouver une « raison » qui explique sa violence verbale ou physique. « Je
                  sais, j’ai crié trop fort. Mais, t’as vu ce que tu as dit ».
                  <strong>C’est toujours la responsabilité de l’autre.</strong>
                  <br><br>
                  N'oubliez jamais :<strong> Une femme n’est jamais responsable des violences qu’elle subit. Jamais</strong>
                  <br><br><strong>
                  La peur et la menace.</strong>
                  Il crie, tape, menace de briser la femme. La peur est un des signaux les plus importants pour
                  détecter les violences.<strong> Avoir peur de la personne avec qui on vit n’est pas normal.</strong>
                  <br><br>
                  <strong>Assurer son impunité.</strong>
                  L’agresseur va tout faire pour que la parole de la victime ne soit pas entendue,<strong> quitte à la faire
                  passer pour folle.</strong> « Ce n’est pas l’homme que nous connaissions »,<strong> « c’était un si gentil voisin ».</strong> Il
                  va même parfois se faire passer pour un mec super féministe.
                  <br><br>
                  Isoler, dévaloriser, inverser la culpabilité, menacer, assurer son impunité. C’est ce qu’on appelle<strong> la
                  stratégie de l’agresseur.</strong> Pourquoi est-elle intéressante à connaître et à faire connaître ? Car elle est
                  un<strong> outil indispensable pour détecter les violences.</strong><br><br> <strong>( artwork by <a href="https://www.instagram.com/sheisangry/?hl=en" target="_blank">sheisangry</a>)</strong><br><br>
                </p>
              </div>
              <a  class="read_more btn btn-primary" style="box-shadow: none; display: flex; justify-content: center; ">Lire l'histoire</a>
            </div>
          </div>
        </div>
      </figure>

      <!-- #histoire 3 -->

      <figure>
        <div class="wrapper">
          <div class="thumb">
            <div class="image_card">
              <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583501331/histoire-3_heoxpg.jpg" alt="liv">
            </div>
            <div class="story-container">
              <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold;">
                Et ton mari ça va ?
              </p>
              <div id="more" class="">
                <p class="p" style="font-size: 18px; text-align: center; font-weight: bold"> Lisa ferma sa veste...<br> pour cacher ses bleus.<br></p>
                <div class="img-center" style="display: flex; justify-content: center;">
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583504879/histoire-3bis_dpgkw3.jpg" alt="liv" class="img-web" style="border-radius: 30px; width:200px; height: 214px"><br>
                </div>
                <p class="p-max credits">
                  Parfois, on ne percute pas qu’une copine est victime. Mais <strong>on peut identifier les signaux d’alerte :</strong>
                  une amie qui s’isole, qui se dévalorise, qui semble avoir peur. Lorsque vous êtes témoin de ça,
                  posez-lui la question : est-ce que quelqu’un te fait du mal ? <br><br>
                  Et si elle dit oui ?
                  <br><br><strong>
                  Quelques conseils utiles :</strong><br><br>
                  <strong> Première chose à faire :</strong> prenez soin de vous.
                  C'est difficile d'accueillir la parole de victimes.
                  <br><br>
                  <strong>Deuxième règle :</strong> ne prenez jamais une décision à la place de la victime. Respectez son rythme et
                  ses choix. La seule situation où vous pouvez agir malgré elle, c'est si vous pensez qu'elle est en
                  danger de mort. Dans ce cas, appelez la police..
                  <br><br>
                  <strong>Ensuite, que fait-on ?</strong> On discute, on écoute.
                  Vous pouvez lui parler de la différence entre <strong>le conflit (qui n’est pas interdit) et la violence (qui est
                  interdite).</strong>
                  <br><br>
                  Vous pouvez aussi<strong> inverser les mécanismes des violences,</strong> des comportements de l’homme violent
                  qu’on va retrouver dans beaucoup d’histoires. Il l’isole,<strong> gardez le contact</strong>. Il la dévalorise :
                  <strong>revalorisez-la</strong> (« je te trouve super forte »). Il lui fait croire que les violences sont de sa faute,
                  <strong>remettez les choses à l’endroit</strong> : le responsable des violences, c’est lui. Il lui fait peur,<strong> rassurez-la</strong>
                  (« je suis là pour toi »). Il assure son impunité en se faisant passer pour le mec idéal :<strong> montrez que
                  vous n’êtes pas dupe.</strong>
                  <br><br>
                  Vous pouvez également lui parler du<strong> cycle de la violence au sein du couple,</strong> qu’on retrouve souvent
                  et qui va se répéter. Ça commence par une<strong> montée de la tension (cris, humiliations),</strong>  puis par un
                  <strong>moment de « crise » (coups, agression)</strong> et qui va être suivi par une phase<strong> de déni et d’inversion de la
                  culpabilité.</strong> Ensuite, arrive ce qu’on appelle <strong>« la lune de miel »,</strong> c’est-à-dire cette phase dans
                  laquelle la victime va avoir<strong> l’impression que « tout est redevenu comme avant ».</strong> On va parfois
                  entendre « j’ai retrouvé le (prénom) du début ».<strong> Dans cette phase, la victime n’est pas toujours
                    disponible pour accepter de l’aide. Respectez-la. Attendez quelques jours et reprenez un café avec
                  elle.</strong>
                  <br><br>
                  N’hésitez pas à raconter à votre amie les mécanismes des violences et le cycle de la violence au sein
                  du couple. Prenez un bout de papier et faites les schémas.<strong> Une femme victime de violence à qui on
                  transmet ces connaissances est plus forte pour casser le cycle de la violence.</strong><br><br> <strong>( artwork by <a href="https://www.instagram.com/caroline.laguerre/?igshid=mg9t2axab3u2" target="_blank">caroline.laguerre</a>)</strong><br><br>
                </p>
              </div>
              <a  class="read_more btn btn-primary" style="box-shadow: none; display: flex; justify-content: center; ">Lire l'histoire</a>
            </div>
          </div>
        </div>
      </figure>

     <!-- #histoire 4 -->
      <figure>
        <div class="wrapper">
          <div class="thumb">
            <div class="image_card">
              <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1584097655/oriane-1_slghlg.jpg
              " alt="liv">
            </div>
            <div class="story-container">
              <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold;">
                Entretenir son jardin prend du temps...
              </p>
              <div id="more" class="">
                <div class="img-center" style="display: flex; justify-content: center;">
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1584097655/oriane-2_oh14lo.jpg" alt="liv" class="img-web" style="border-radius: 30px; width:200px; height: 214px"><br>
                </div>
                <p class="p-max credits">
                  ... Et certains te rendront la tâche difficile...
                  <br><br>
                   <div class="img-center" style="display: flex; justify-content: center;">
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1584097655/oriane-3_igiqrk.jpg
                  " alt="liv" class="img-web" style="border-radius: 30px; width:200px; height: 214px"><br>
                </div>
                  ... Mais il ne tient qu'à toi de surmonter les épreuves.
                  <br><br>
                  <strong>Tu peux le faire!</strong><br><br><strong>( artwork by <a href="https://www.instagram.com/dosdadrenaline/" target="_blank" style="color: #A29EFF">oriane dosda</a>)</strong><br><br>
                </p>
              </div>
              <a  class="read_more btn btn-primary" style="box-shadow: none; display: flex; justify-content: center; ">Lire l'histoire</a>
            </div>
          </div>
        </div>
      </figure>



      <span class="prev">&laquo;</span>
      <span class="next">&raquo;</span>
    </div>
  </div>

</div>
