<input type="checkbox" id="toto">
<div class="menu-collapse">
  <ul>
    <li> <a href="#">ACCUEIL<a></li>
      <li><a href="#">ANNUAIRE<a></li>
      <li><a href="#">INFORMATIONS<a></li>
      <li><a href="#">TÉMOIGNAGES<a></li>
      <li><a href="#">FORMULAIRE<a></li>
      <li><a href="#">MÉDICAL<a></li>
    </ul>
  </div>

  <nav class="navbar fixed-bottom" style="justify-content:center !important">
    <ul class="nav">
      <li class="nav-item">
        <button type="button" class="btn btn-light" ><a href="#"><%= image_tag 'accueil.svg' %></a></button>
      </li>

      <li class="nav-item">
       <button type="button" class="btn btn-light"><a href="#"><%= image_tag 'annuaire.svg' %></a></button>
     </li>

     <li class="nav-item">
       <button type="button" class="btn btn-light-urgence"><a href="#"><%= image_tag '3639.svg' %></a></button>
     </li>

     <li class="nav-item">
      <button type="button" class="btn btn-light"><a href="#"><%= image_tag 'chat_police.svg' %></a></button>
    </li>

    <li class="nav-item">
      <label for="toto" id="button-hamburger" class="btn btn-light"></label>
    </li>
  </ul>
</nav>


<!-- #au clic sur button-hamburger, display = toggle une class open js
traslate + transition css
pseud elmnt "X" changer image  -->












