<div class="hidden-mobile">

  <nav class="navbar" style="justify-content:center !important; padding-top: 20px; background-color: transparent;">
    <ul>
      <a href="#accueil" class="menu-web">ACCUEIL</a>
      <a href="#annuaire" class="menu-web">ANNUAIRE</a>
      <a href="#informations" class="menu-web">INFORMATIONS</a>
      <a href="#temoignages" class="menu-web">TÉMOIGNAGES</a>
      <a href="#agir" class="menu-web">AGIR</a>
      <a href="#medical" class="menu-web">MÉDICAL</a>
    </ul>
  </nav>

</div>
