<nav class="navbar fixed-bottom navbar-light bg-light" style="justify-content:center; !important">
  <ul class="nav">
    <li class="nav-item">
    <button type="button" class="btn btn-light">Accueil</button>
    </li>

    <li class="nav-item">
     <button type="button" class="btn btn-light">Annuaire</button>
    </li>

    <li class="nav-item">
     <button type="button" class="btn btn-light-urgence">3639</button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light">Chat</button>
    </li>

  <li class="nav-item">
      <button type="button" class="btn btn-light">Menu</button>
    </li>
  </ul>
</nav>
