<%= render('shared/header_mobile' , title: "LIV") %>
 <div class="container"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>

 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quasi, eum nulla, laudantium amet quis doloremque sit quibusdam accusantium nihil a soluta sunt magni corrupti delectus, impedit architecto minus rem.</p>
</div>
