<%= render('shared/header_mobile' , title: "ACCUEIL") %>
<div class="container">

  <div class="row">
    <div class="mx-auto">
      <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583273073/liv-intro_rkoniv.png" alt="liv-asso" style ="width: 300px">
    </div>
  </div>
  <div class="row" style="margin: 5px">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic necessitatibus, atque doloribus fuga labore inventore ratione repellendus deleniti adipisci beatae rem, facilis quisquam nulla magni consequuntur architecto accusamus, accusantium soluta.</p>
  </div>
</div>
</div>
