<%= render('shared/header_mobile' , title: "ACCUEIL") %>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583273073/liv-intro_rkoniv.png" alt="liv-asso" style ="width: 300px">
    </div>
  </div>
  <div class="row" style="margin: 5px">

    <h1>Liv</h1>
    <h2>Leave for live</h2>

    <p>Tu as besoin d'aide? Tu ne sais pas comment faire ni où aller? Tu as envie de parler mais c'est difficile?</p>
    <p>Liv est là pour t'informer, t'aider et t'apporter son soutien.</p>
    <p>Si tu veux, regarde les vidéos, les témoignages. Tu verras que d'autres partagent ton histoire, leur histoire. Ce qui t'arrive n'est pas de ta faute.</p>
    <p>Oui, ta vie peut changer, oui ça peut s'arrêter!</p>
  </div>
</div>
</div>
