<%= render('shared/header_mobile' , title: "INFORMATIONS") %>

<div class="container">

  <div class="icone-page">
    <%= image_tag 'informations.svg' %>
  </div>


<!-- #rajouter le code de max
 -->

</div>
