<%= render('shared/header_mobile' , title: "INFORMATIONS") %>

<div class="container">

  <div class="icone-page">
    <%= image_tag 'informations.svg' %>
  </div>


  <body>
    <div class="container-info" style="margin-top: -50px">
      <div class="diy-slideshow">

        <figure class="show">
          <div class="cont-card">
            <div class="wrapper">
              <div class="thumb">
                <div class="image_card">
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583495474/histoire-1_higee6.jpg" alt="liv">
                </div>
                <div class="story-container">
                  <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold">
                    Elle se maquilla, comme chaque matin.
                  </p>
                  <div id="more" class="">
                    <p class="p" style="font-size: 18px; text-align: center"> Mais aujourd'hui le fond de teint<br>ne suffirait pas à cacher.</p>
                    <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583497302/histoire-1bis_jpb72x.jpg" alt="liv" style="border-radius: 30px; width:200px; height: 214px; margin-left: 30%"><br>
                    <p class="p-max">
                      La violence au sein du couple se manifeste à travers plusieurs phases bien distinctes qui permettent à l’auteur des violences de maintenir une emprise sur sa conjointe. Ces phases forment un cycle qui se répète continuellement, que les professionnel-le-s nomment “le cycle de la violence”. Le couple entre alors dans une spirale dont les cycles sont de plus en plus rapprochés.
                      <br>
                      <br>
                      La tension monte →
                      La violence explose →
                      L’auteur se justifie → Sa partenaire porte la responsabilité →
                      L’auteur promet de ne plus recommencer → Sa partenaire reprend espoir →
                      L’accalmie ne dure pas et très vite la tension s’installe à nouveau → La tension monte etc.
                      <br>
                      <br>
                      Cet enchaînement de plus en plus rapide des cycles créé de la confusion dans l’esprit de la victime des violences. La peur, l’attente, la sidération, l’espoir, l’amour, finissent par se confondre pour créer une situation d’emprise psychologique.
                      <br>
                      <br>
                    Plus le temps avance et plus les cycles s’enchaînent, plus la phase “lune de miel” a tendance à disparaître. Les épisodes de violence deviennent quotidiens et ordinaires.</div></p></p>
                  </p>
                </div>
               <a href="#" class="read_more btn btn-primary" style="box-shadow: none; display: flex; justify-content: center; ">Lire l'histoire</a>
              </div>
            </div>
          </div>
        </figure>

        <!-- #Histoire 2 -->

        <figure>
          <div class="wrapper">
            <div class="thumb">
              <div class="image_card">
                <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583497849/histoire-2_mka3su.jpg" alt="liv">
              </div>
              <div class="story-container">
                <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold;">
                  Elle était tombé amoureuse de lui pour son regard.
                </p>
                <div id="more" class="">
                  <p class="p" style="font-size: 18px; text-align: center; font-weight: bold"> Ce même regard qui, aujourd'hui, <br>lui glaçait le sang.<br><br></p>
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583498098/histoire-2bis_xc10gr.jpg" alt="liv" style="border-radius: 30px; width:200px; height: 214px; margin-left: 21%"><br>
                  <p class="p-max">
                    Les histoires de violences contre les femmes sont toutes différentes. Mais, dans presque toutes, on
                    trouve des points communs, qu’on peut les observer dans le comportement de la personne qui
                    humilie, agresse, violente.
                    <br><br>
                    L’isolement. La victime va peu à peu couper des liens (ami.e.s, famille...).
                    «Tu vois plus tes copines que moi, tu m’aimes moins ? ».
                    La victime peu à peu se retrouve seule. Et donc moins capable de se défendre.
                    <br><br>
                    La dévalorisation.
                    Des mots, des phrases humiliantes, qui rabaissent la personne.
                    Une de vos copines se dévalorise systématiquement ? Demandez-vous pourquoi.
                    <br><br>
                    L’inversion de la culpabilité.
                    L’agresseur va toujours trouver une « raison » qui explique sa violence verbale ou physique. « Je
                    sais, j’ai crié trop fort. Mais, t’as vu ce que tu as dit ».
                    C’est toujours la responsabilité de l’autre.
                    <br><br>
                    N'oubliez jamais : Une femme n’est jamais responsable des violences qu’elle subit. Jamais
                    <br><br>
                    La peur et la menace.
                    Il crie, tape, menace de briser la femme. La peur est un des signaux les plus importants pour
                    détecter les violences. Avoir peur de la personne avec qui on vit n’est pas normal.
                    <br><br>
                    Assurer son impunité.
                    L’agresseur va tout faire pour que la parole de la victime ne soit pas entendue, quitte à la faire
                    passer pour folle. « Ce n’est pas l’homme que nous connaissions », « c’était un si gentil voisin ». Il
                    va même parfois se faire passer pour un mec super féministe.
                    <br><br>
                    Isoler, dévaloriser, inverser la culpabilité, menacer, assurer son impunité. C’est ce qu’on appelle la
                    stratégie de l’agresseur. Pourquoi elle est intéressante à connaître et à faire connaître ? Car elle est
                    un outil indispensable pour détecter les violences.
                  </p>
                </div>
                <a href="#" class="read_more btn btn-primary" style="box-shadow: none;">Lire l'histoire</a>
              </div>
            </div>
          </div>
        </figure>

        <!-- #histoire 3 -->

        <figure>
          <div class="wrapper">
            <div class="thumb">
              <div class="image_card">
                <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583501331/histoire-3_heoxpg.jpg" alt="liv">
              </div>
              <div class="story-container">
                <p class="p" style="font-size: 18px; text-align: center; padding: 2px; font-weight: bold;">
                  Et ton mari ça va ?
                </p>
                <div id="more" class="">
                  <p class="p" style="font-size: 18px; text-align: center; font-weight: bold"> Lisa ferma sa veste...<br> pour cacher ses bleus.<br></p>
                  <img src="https://res.cloudinary.com/dboiac1us/image/upload/v1583504879/histoire-3bis_dpgkw3.jpg" alt="liv" style="border-radius: 30px; width:200px; height: 214px; margin-left: 21%"><br>
                  <p class="p-max">
                    Parfois, on ne percute pas qu’une copine est victime. Mais on peut identifier les signaux d’alerte :
                    une amie qui s’isole, qui se dévalorise, qui semble avoir peur. Lorsque vous êtes témoin de ça,
                    posez-lui la question : est-ce que quelqu’un te fait du mal ? <br><br>
                    Et si elle dit oui ?
                    <br><br>
                    Quelques conseils utiles :
                    Première chose à faire : prenez soin de vous.
                    C'est difficile d'accueillir la parole de victimes.
                    <br><br>
                    Deuxième règle : ne prenez jamais une décision à la place de la victime. Respectez son rythme et
                    ses choix. La seule situation où vous pouvez agir malgré elle, c'est si vous pensez qu'elle est en
                    danger de mort. Dans ce cas, appelez la police..
                    <br><br>
                    Ensuite, que fait-on ? On discute, on écoute.
                    Vous pouvez lui parler de la différence entre le conflit (qui n’est pas interdit) et la violence (qui est
                    interdite).
                    <br><br>
                    Vous pouvez aussi inverser les mécanismes des violences, des comportements de l’homme violent
                    qu’on va retrouver dans beaucoup d’histoires. Il l’isole, gardez le contact. Il la dévalorise :
                    revalorisez-la (« je te trouve super forte »). Il lui fait croire que les violences sont de sa faute,
                    remettez les choses à l’endroit : le responsable des violences, c’est lui. Il lui fait peur, rassurez-la
                    (« je suis là pour toi »). Il assure son impunité en se faisant passer pour le mec idéal : montrez que
                    vous n’êtes pas dupe.
                    <br><br>
                    Vous pouvez également lui parler du cycle de la violence au sein du couple, qu’on retrouve souvent
                    et qui va se répéter. Ça commence par une montée de la tension (cris, humiliations), puis par un
                    moment de « crise » (coup, agression) et qui va être suivi par une phase de déni et d’inversion de la
                    culpabilité. Ensuite, arrive ce qu’on appelle « la lune de miel », c’est-à-dire cette phase dans
                    laquelle la victime va avoir l’impression que « tout est redevenu comme avant ». On va parfois
                    entendre « j’ai retrouvé le (prénom) du début ». Dans cette phase, la victime n’est pas toujours
                    disponible pour accepter de l’aide. Respectez-le. Attendez quelques jours et reprenez un café avec
                    elle.
                    <br><br>
                    N’hésitez pas à raconter à votre amie les mécanismes des violences et le cycle de la violence au sein
                    du couple. Prenez un bout de papier et faites les schémas. Une femme victime de violence à qui on
                    transmet ces connaissances est plus forte pour casser le cycle de la violence.
                  </p>
                </div>
                <a href="#" class="read_more btn btn-primary" style="box-shadow: none;">Lire l'histoire</a>
              </div>
            </div>
          </div>
        </figure>


        <span class="prev">&laquo;</span>
        <span class="next">&raquo;</span>
      </div>
    </div>
  </body>

</div>
