<%= render('shared/header_mobile' , title: "INFORMATIONS") %>

<div class="container">

  <div class="icone-page">
    <%= image_tag 'informations.svg' %>
  </div>


<h1>Informations</h1>


<body>

  <div class="container-info">
    <div class="diy-slideshow">

      <figure class="show">
        <div class="cont-card">
          <div class="wrapper">
            <div class="thumb">
              <div class="image_card">
                <img src="https://cdnb.artstation.com/p/assets/images/images/007/971/181/large/jose-cabrera-pennywise-para-publicar.jpg?1509640914" alt="clown">
              </div>
                <div class="story-container">
                  <p class="p-max">
                  Il était une fois
                  </p>
                  <p class="p-max story">
                  <span id="more" class="card-text-scroll">erisque enim ligula venenatis dolor.
                   Maecenas nisl est, ultrices nec congue eget,
                    auctor vitae massa. Fusce luctus vestibulum augue ut aliquet.
                    Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                    In at libero sed nunc venenatis imperdiet sed ornare turpis.
                    Donec vitae dui eget tellus gravida venenatis.
                    Integer fringilla congue eros non fermentum.
                    Sed dapibus pulvinar nibh tempor porta.erisque enim ligula venenatis dolor.
                   Maecenas nisl est, ultrices nec congue eget,
                    auctor vitae massa. Fusce luctus vestibulum augue ut aliquet.
                    Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                    In at libero sed nunc venenatis imperdiet sed ornare turpis.
                    Donec vitae dui eget tellus gravida venenatis.
                    Integer fringilla congue eros non fermentum.
                    Sed dapibus pulvinar nibh tempor porta.</span></p>

                    <a href="#" class="read_more btn btn-primary">Read more</a>

                  </p>
                </div>
            </div>
          </div>
        </div>
      </figure>

      <figure>
        <div class="wrapper">
          <div class="thumb"></div>
        </div>
      </figure>

       <figure>
        <div class="wrapper">
          <div class="thumb"></div>
        </div>
      </figure>

      <span class="prev">&laquo;</span>
      <span class="next">&raquo;</span>
    </div>
  </div>
</body>

</div>
