<h1>Informations</h1>


<body>

  <div class="container">
    <div class="diy-slideshow">

      <figure class="show">
        <div class="wrapper">
          <div class="thumb"></div>
        </div>
      </figure>

      <figure>
        <div class="wrapper">
          <div class="thumb">
            <div class="image_card">
              <img src="https://cdnb.artstation.com/p/assets/images/images/007/971/181/large/jose-cabrera-pennywise-para-publicar.jpg?1509640914" alt="clown">
            </div>
          </div>
        </div>
      </figure>

      <figure>
        <div class="wrapper">
          <div class="thumb"></div>
        </div>
      </figure>

      <span class="prev">&laquo;</span>
      <span class="next">&raquo;</span>
    </div>
  </div>
</body>
