.btn-light {
  color: #A29EFF;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

.btn-light-urgence {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
  background-color: #E0D7F6;
}

.btn-light:hover {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

.btn.btn_liv{
  background: #A29EFF;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn.btn_liv:hover{
  background: #E0D7F6;
  font-family: 'Nunito', sans-serif;
  color: #A29EFF;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.phonelink{
  color: #A29EFF !important;
  font-size: 50px;
}

