.btn-light {
  color: #A29EFF;
  border-style: solid;
  border-color: #F0EDED;
}

.btn-light-urgence {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-light:hover {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
}

