.btn-light {
  color: #A29EFF;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

.btn-light-urgence {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
  background-color: #E0D7F6;
}

.btn-light:hover {
  color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

