.btn.btn_liv{
  background: #A29EFF;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 20px;
  width: 342px;
  height: 57px;
}

.btn_liv:hover{
  background: #E0D7F6;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #A29EFF;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkbox-container {
  border: 1px solid #A29EFF;
  border-radius: 5px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


