/*.document {
  height: 297mm - 23mm;
  width: 210mm -21mm;
  background-repeat: no-repeat;
  background-position: 200px 280px;
}

.btn.pdf-light {
  background-color-b: #A29EFF;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

.btn.pdf-light-urgence {
  background-color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
  background-color: #E0D7F6;
}

.btn.pdf-light:hover {
  background-color: #2D2043;
  border-style: solid;
  border-color: #F0EDED;
  width: 80px;
  height: 80px;
}

.btn.pdf_liv{
  background-color: #A29EFF;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn.pdf_liv:hover{
  background-color: #E0D7F6;
  font-family: 'Nunito', sans-serif;
  color: #A29EFF;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}*/

#pdf_style a {
color: black !important;
}

#sidebarContainer {
display: none !important;
}

.container_pdf header {
  display: none;
}
