#user_password_confirmation {
border: 2px solid;
border-color: #E0D7F6;
height: 50px;
margin-bottom: 34px;
}

.form-text.text-muted {
color: #E0D7F6 !important;
margin-top: 17px;
margin-left: 13px;
}

.alert.alert-danger {
  position: absolute;
  visibility: hidden;
}

.invalid-feedback {
  position: absolute;
  visibility: hidden;
}

.links3 a {
  color: #a29eff;
}

.links3 {
  margin-top: 13px;
}
