

.video-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}



.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 0px;
  }

  .video-responsive iframe { left:0; top:0; height:100%; width:100%; position:absolute;}

  .style_image {
   width: 100vw;
   padding: 20px;
 }

 @media screen and (min-width: 992px) {
  .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: inherit;
  }

  .style_image {
    width: 100%;
    padding: 20px;
  }

  .icone-page {
    display: none;
  }

  .container {
    margin-top: 20px;
  }
}


// # grid-template-columns: repeat(2,1fr)
