
.cont-card {
  font-family: 'Roboto', sans-serif;
}

.wrapper .thumb {
  position: absolute;
  width: 70vw;
  height: 450px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transform-origin: center;
  transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms, height 325ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.thumb.active {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 2000;
  transition: width 285ms cubic-bezier(0.4, 0.0, 0.2, 1), height 325ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms;
  overflow-y: scroll;
}

.thumb{
  background-color:#E0D7F6 !important;
}

.image_card{
  display: flex !important;
  max-height: 70% ;
  justify-content: center;
}

.image_card img {
  margin-top: 60px;
  max-width: 200px;
  max-height: 300px;
  border-radius: 30px;
}

.story-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-info{
  height: 800px;
}

#more {
  display: none;
  width: 100%;

}

.active #more {
  display: block;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

