// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/*";

body.lawsuits-new .hidden-computer {
  display: block;
}


@media screen and (min-width: 992px) {
  .hidden-computer {
    display: none;

  }

  .results-orga {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    flex-flow: wrap;
    margin: 10px;
    height: 700px;
    overflow-x: scroll;
    grid-column-gap: 16px;

  }

  .organization {
    width: 38vw;

  }

  h1{
    font-size: 20px;
  }

  .phonelink {
    font-size: 20px;
  }
}

#annuaire .container{
  margin-top: 0;
}

#toto {
  height: 0;
  width: 0;
}

@media screen and (max-width: 600px) {
  .hidden-mob {
    display: none;
  }
}


body.lawsuits-new .hidden-computer {
 display: block;
 .hidden-computer{
  display: none;
  }
}

body.lawsuits-show .hidden-computer {
  display: block;
  .hidden-computer{
  display: none;
  }
}

body.devise-sessions.devise-sessions-new .hidden-computer {
  display: block;
  margin-top: 154px;
  .hidden-computer{
  display: none;
  }
}


body.devise-registrations.devise-registrations-new .hidden-computer {
  display: block;
  margin-top: 154px;
  .hidden-computer{
  display: none;
  }
}





.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

