<div class="video-container">
  <%= VideoThumb::get("http://www.youtube.com/watch?v=iEPTlhBmwRg", "medium") %>
 <div class="video-responsive">
    <iframe wp_lightbox_ultimate_youtube_video_embed videoid=""  width="560" height="315" src="https://www.youtube-nocookie.com/embed/g5zteCpy1TU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JqGvZNpk4kc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BFUi3hfxCkU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/YWSda53-xbE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rMf53XHrqxI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l4r0WgyK5cI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wN_p9zY_wSg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>


